<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Octo</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>

  <body class="">

    <div class="app">
      
      <%# <header class="header">
      <%= render "navbar.html", conn: @conn, current_customer: @current_customer 
      </header> 
      %>

      <%= render "sidebar.html", conn: @conn, current_customer: @current_customer %>
        
        <div class="main">

          <div id="toast" class="">
            <%= if get_flash(@conn, :info) do %>
              <span class="notification is-dark" role="alert"><%= get_flash(@conn, :info) %></span>
            <% end %>
            <%= if get_flash(@conn, :error) do %>
              <span class="notification is-danger" role="alert"><%= get_flash(@conn, :error) %></span>
            <% end %>
          </div>
        
          <main class="">
            <%= render @view_module, @view_template, assigns %>
          </main>
        </div>

    </div>

    
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
