<h1 class="title"><%= @current_customer.name %></h1>

<br>

<%= for organization <- @organizations do %>
  <%= link organization.name, to: Routes.dashboard_organization_path(@conn, :edit, organization), class: "subtitle" %>
<% end %>


<h1><%= link "New Organization", to: Routes.dashboard_organization_path(@conn, :new) %><h1>

<br>

<h1 class="title"><%= @projects %></h1>

