/* This file is for your main application css. */
@charset "utf-8";

// Import fonts
@import url('https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700');

/// BULMA

// Set your brand colors
$blue: rgb(108, 95, 199);
$grey-900: #202833;
$grey-800: #404b5a;
$grey-700: #6e7a8a;
$grey-600: #929fb1;
$grey-500: #adbdcc;
$grey-400: #ccd4db;
$grey-300: #d5dde5;
$grey-200: #e1e7ec;
$grey-100: #f8f9fa;
$border-color-grey: $grey-300;

// Update Bulma's global variables
$family-sans-serif: Muli, BlinkMacSystemFont, -apple-system, 'Segoe UI',
  'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  'Helvetica', 'Arial', sans-serif;
$primary: $blue;
$body-size: 14px;

// Import only what you need from Bulma
@import '../node_modules/bulma/bulma.sass';
// @import '../node_modules/bulma-extensions/bulma-checkradio/dist/css/bulma-checkradio.sass';
// @import '../node_modules/bulma-extensions/bulma-slider/dist/css/bulma-slider.sass';
// @import '../node_modules/bulma-extensions/bulma-divider/dist/css/bulma-divider.sass';
@import '../node_modules/bulma-extensions/bulma-switch/dist/css/bulma-switch.sass';
// @import '../node_modules/bulma-extensions/bulma-quickview/dist/css/bulma-quickview.sass';


// SPACING CSS - see usage: https://github.com/jgthms/bulma/issues/451#issuecomment-331758839
$sizeUnit: rem;
$marginKey: 'm';
$paddingKey: 'p';
$separator: '-';
$sizes: (
  ('none', 0),
  ('xxs', 0.125),
  ('xs', 0.25),
  ('sm', 0.5),
  ('md', 1),
  ('lg', 2),
  ('xl', 4),
  ('xxl', 8)
);
$positions: (('t', 'top'), ('r', 'right'), ('b', 'bottom'), ('l', 'left'));

@function sizeValue($key, $value) {
  @return if($key == 'none', 0, $value + $sizeUnit);
}

@each $size in $sizes {
  $sizeKey: nth($size, 1);
  $sizeValue: nth($size, 2);
  .#{$marginKey}#{$separator}#{$sizeKey} {
    margin: sizeValue($sizeKey, $sizeValue) !important;
  }
  .#{$paddingKey}#{$separator}#{$sizeKey} {
    padding: sizeValue($sizeKey, $sizeValue) !important;
  }
  @each $position in $positions {
    $posKey: nth($position, 1);
    $posValue: nth($position, 2);
    .#{$marginKey}#{$separator}#{$posKey}#{$separator}#{$sizeKey} {
      margin-#{$posValue}: sizeValue($sizeKey, $sizeValue) !important;
    }
    .#{$paddingKey}#{$separator}#{$posKey}#{$separator}#{$sizeKey} {
      padding-#{$posValue}: sizeValue($sizeKey, $sizeValue) !important;
    }
  }
}
// end spacing

html,
body {
  height: 100vh;
  width: 100ww;
  overflow: hidden;
}
.app {
  min-height: 100vh;
  min-width: 100ww;
  overflow: hidden;
  display: flex;
}
.sidebar {
  background: linear-gradient(rgb(74, 62, 86), rgb(48, 40, 57));
  width: 250px;
  overflow: auto;
  color: #fff;

  .main-header {
    .dropdown,
    .dropdown-trigger {
      width: 100%;
    }
    .media-left {
      padding: 3px;
      margin-right: 8px;
    }
  }
  .menu-items {
    padding: 1em;
  }
  .menu-item {
    opacity: 0.7;
    transition-duration: 200ms;
    width: 100%;
    display: flex;
    span {
      display: inline-block;
      color: #fff;
      margin: 5px;
    }
    &:hover {
      opacity: 0.9;
    }
  }
}
.main {
  flex-grow: 2;
  overflow: auto;
}
.page {
  padding: 10px;
}
.has-corners {
 border-radius: 4px;
 overflow: hidden;
}
.has-border {
  border: 1px solid $grey-300;
}

#toast {
  position: fixed;
  top: 60px;
  max-width: 400px;
  margin: 0;
  right: 25px;
  z-index: 999;
  .notification {
    padding: 5px 10px;
    box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.05);
    /*font-family: $header-family;*/
  }
}

.page-header {
  padding: 20px;
  box-shadow: rgba(37, 11, 54, 0.04) 0px 2px 0px 0px;
  .tabs {
    ul, li {
      border-bottom: none;
      padding-right: 24px;
      a {
        padding-top: -5px;
        border-bottom: 5px solid white;
        padding-left: 0;
        padding-right: 0;
      }
    }
    li.is-active a {
      border-color: $primary;
    }
  }
}