<h1>New User</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.dashboard_organization_project_user_path(@conn, :create, @organization, @project)) %>

<span><%= link "Back", to: Routes.dashboard_organization_project_user_path(@conn, :index, @organization, @project) %></span>
