<h1>Show User</h1>

<ul>

</ul>

<span><%= link "Edit", to: Routes.dashboard_organization_project_user_path(@conn, :edit, @user) %></span>
<span><%= link "Back", to: Routes.dashboard_organization_project_user_path(@conn, :index) %></span>
