<h1>Edit Project</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.dashboard_organization_project_path(@conn, :update, @organization, @project)) %>

<span><%= link "Back", to: Routes.dashboard_organization_project_path(@conn, :index, @organization) %></span>
