<section class="section">
  <div class="">
    <h1 class="title is-size-1">Edit Project</h1>
    <div class="columns">
      <div class="column is-4">
        <%= render "form.html", Map.put(assigns, :action, Routes.dashboard_organization_project_path(@conn, :update, @organization, @project)) %>
      </div>
    </div>
  </div>
</section>