<section class="section">
  <div class="container">
    <h1 class="title is-1 has-text-dark">New Project</h1>
    <div class="columns">
		  <div class="column is-4">
            <%= render "form.html", Map.put(assigns, :action, Routes.dashboard_organization_project_path(@conn, :create, @organization)) %>
		  </div>
		</div>
  </div>
</section>

