<%# <h1>Landing page</h1> %>

<section class="section">
  <div class="container">
    <h1 class="title is-size-1">Show Flags</h1>
    
    <div id="message-list" class="box tall-box">
    </div>
  </div>
</section>



  