<section class="section">
  <div class="">
    <div class="columns is-centered">
		  <div class="column is-4">
    		<h1 class="title is-3">Register</h1>
        
				<div class="box">
          <%= render "form.html", Map.put(assigns, :action, Routes.customer_path(@conn, :create)) %>
		    </div>
		  </div>
		</div>
  </div>
</section>