<h1>Show Customer</h1>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @customer.name %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.customer_path(@conn, :edit, @customer) %></span>
<span><%= link "Back", to: Routes.customer_path(@conn, :index) %></span>
