<section class="section">
  <div class="container">
    <h1 class="title is-size-1">Edit Organization</h1>
    <div class="columns">
    <div class="column is-4">
        <%= render "form.html", Map.put(assigns, :action, Routes.dashboard_organization_path(@conn, :update, @organization)) %>
    </div>
    </div>
  </div>
</section>