<section class="section">
  <div class="container">
    <h1 class="title is-1 has-text-dark">New Organization</h1>
    <div class="columns">
		  <div class="column is-4">
            <%= render "form.html", Map.put(assigns, :action, Routes.dashboard_organization_path(@conn, :create)) %>
		  </div>
		</div>
  </div>
</section>

