<section class="section">
  <div class="container">
    <h1 class="title is-1 has-text-dark">New Flag</h1>
    <div class="columns">
      <div class="column is-4">
        <%= render "form.html", Map.put(assigns, :action, Routes.dashboard_organization_project_flag_path(@conn, :create, @organization, @project)) %>
      </div>
	</div>
  </div>
</section>